[Unit]
Description=System stats collector for tsstore
After=tsstore.service
Requires=tsstore.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/tviviano/tsstore/scripts/system-stats-to-tsstore.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
